<!DOCTYPE html>
<body>
<div class="container">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Contact Us</h1>
            <p class="lead">Blocitoff is a resource for everyone - please get in touch if you have suggestions or requests!</p>
          </div>

          <div class="mastfoot">
            <div class="inner">
            	<address>
              <p>Contact email <a href="mailto:nickwong879@gmail.com">Nick Wong</a></p>
            	</address>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>