		

	<ul class="list-group">
		<% @items.each do |item| %>
		<li class="list-group-item"><%= item[:body] %></li>
		<% end %>
	</ul>

		<!--<small>
		<p>Created by <%= @user[:name] %> </p>
		</small>-->

